html,body{
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
	margin: 0;
}
.wrap{
	position: relative;
	max-width: 750px;
	min-width: 320px;
	height: 100%;
	margin: 0px auto ;
}
